name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Setup Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build Web Project (Vite)
        run: yarn build

      - name: Add or Sync Android Platform
        run: |
          # 1. Jika folder android belum ada, buatkan dulu
          if [ ! -d "android" ]; then
            npx cap add android
          fi

          # 2. Selaraskan kode web Vite dengan folder android
          npx cap sync android

          # 3. Pastikan izin GPS tetap ada (Opsional tapi aman)
          if [ -f "android/app/src/main/AndroidManifest.xml" ]; then
            echo "Android Manifest confirmed."
          fi

      - name: Build Android APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: E-Parkir-Madiun-Debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
