name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Setup Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build Web Project (Vite)
        run: yarn build

      - name: Add Android Platform
        run: |
          npx cap add android
          # Paksa menggunakan Manifest yang kita buat agar izin GPS masuk
          cp android/app/src/main/AndroidManifest.xml android/app/src/main/AndroidManifest.xml.bak 
          npx cap sync android
          mv android/app/src/main/AndroidManifest.xml.bak android/app/src/main/AndroidManifest.xml

      - name: Build Android APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: E-Parkir-Madiun-Debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
